<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>OTP Verification</h2>
            
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert">
                  {% for message in messages %}
                    <p>{{ message }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

            <form action="{{ url_for('index') }}" method="POST">
                <input type="text" name="otp" placeholder="Enter OTP" required>
                <button type="submit" class="btn">Verify</button>
            </form>

            <p style="margin-top: 20px; text-align: center;">
                <a href="{{ url_for('setup') }}">Setup Google Authenticator</a>
            </p>
            
            
        </div>
    </div>
</body>
</html>